@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
}
